.wrapper {
  position: relative;
  width: 100%;
  height: 70vh;
  min-height: 420px;
  overflow: hidden;
  perspective: 175px;
  perspective-origin: 50% 100%;
}

.slider {
  position: absolute;
  top: 5vh;
  left: 0;
  width: 100%;
  height: 100%;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
  width: 65%;
  height: 420px;
  background: #000;
  border-right: 1px solid #303030;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #303030;
  border-radius: 10px;
  z-index: 2;
}

.cardInfo {
  width: 100%;
  padding: 0.5em 0.75em;
  display: flex;
  align-items: center;
  background-color: #000;
  z-index: 2;
}

.cardItem {
  flex: 1;
}

.cardItem p {
  font-size: 11px;
  color: #b5b5b5;
}

.cardItemCenter {
  text-align: center;
}

.cardItemCenter p {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

.cardItemRight {
  text-align: right;
}

.videoPlayer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.videoPlayer > div {
  position: relative;
  transform: scale(1.5);
}

@media (max-width: 900px) {
  .wrapper {
    height: 60vh;
  }

  .card {
    width: 85%;
    height: 360px;
  }

  .videoPlayer > div {
    transform: scale(2.2);
  }
}
